.section--burgers {
	background: #f9b33b; /* Old browsers */
	background: -moz-linear-gradient(top, #f9b33b 0%, #eb8d38 50%, #f9b33b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f9b33b 0%,#eb8d38 50%,#f9b33b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f9b33b 0%,#eb8d38 50%,#f9b33b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.container--burgers {
	position: relative;
	width: initial;
	max-width: rem(1100px);
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider-scroll {
	position: absolute;
	justify-content: space-between;
	display: flex;
	width: 100%;
}

.slider__list {
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider__item {
	position: relative;
	width: 90%;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;

	@include tablets {
		flex-direction: column;
	}
}

.slider__img-wrap {
	left: 0;
	position: absolute;
	height: 100%;
	width: 0%;

	@include tablets {
		left: initial;
		width: 62%;
		height: 0%;
		top: 0;
	}

	@include tab-phones {
		width: 80%;	
	}


	@include phones {
		width: 100%;
	}
}

.slider__img {	
	text-align: center;

	& > img {
		width: 100%;
	}

	@include tablets {
		width: 62%;
	}

	@include tab-phones {
		width: 80%;	
	}
}

.slider__composition-btn {
	transition: 0.5s;
	border-radius: 5px;
	background-color: rgba(227, 80, 40, 0.4);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: rem(90px);
	height: rem(90px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	&:hover {
		background-color: rgba(227, 80, 40, 1);
	}
}

.slider__composition-btn:hover + .composition {
	display: block;
}

.composition {
	height: max-content;
	display: none;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	opacity: 0.902;
	width: rem(270px);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: rem(90px);

	@include tablets {
		width: 70%;
	}
}

.composition__list {
	padding: rem(20px);
}

.composition__img, .composition__name, .composition__weight {
	display: inline-block;
	vertical-align: middle;
}

.composition__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.composition__icon {
	width: rem(50px);
	height: rem(50px);
	&--red {
		fill: #e25028;
	}
	&--yellow {
		fill: #f8b43a;
	}
	&--green {
		fill: #8ac03e;
	}
}

.composition__weight {
	font-size: rem(14px);
}

.composition__name {
	margin-left: rem(20px);
	flex-grow: 1;
	font-family: 'ubuntu';
	font-weight: 500;
	font-size: rem(14px);
}

.slider__calories-img {
	text-align: center;
	height: rem(80px);
	width: 4rem;
	opacity: 0.4;
	position: absolute;
	top: 90%;
	right: 0;
	bottom: 0;
	left: 0;

	@include tablets {
		top: 0;
		left: 90%;
	}
}

.slider__btn-img {
	height: rem(45px);
	width: rem(45px);
	fill: #fff;

	&--kkal {
		height: rem(60px);
		width: 4rem;
	}
}

.slider__btn-text {
	font-family: 'gagalin';
	font-size: rem(14px);
	color: #fff;
}

.slider__calories-text, .slider__img-text {
	font-family: 'gagalin';
	font-size: rem(14px);
	color: #fff;
}

.slider__img-text {
	font-size: rem(18px);
	margin-top: rem(-50px);
}

.slider__text {
	height: 100%;
	width: 49%;

	@include tablets {
		text-align: center;
		width: 86%;
	}

	@include phones {
		margin-top: rem(46px);
		width: 95%;
	}

	@media screen and (max-width: 400px) {
		margin-top: 0;
	}
}

.slider__title {
	color: #fff;
	line-height: rem(64px);
}

.slider__desc {
	margin-top: rem(35px);
	font-family: 'ubuntu';
	font-weight: 300;
	font-size: rem(14px);
	line-height: rem(24px);
	color: #fff;
}

.slider__price {
	display: inline-block;
	font-family: 'gagalin';
	color: #e35028;
	font-size: rem(72px);

	&-text {
		font-size: rem(30px);
	}
}

.slider__order-block {
	margin-top: rem(20px);
}

.slider__order {
	margin-left: rem(20px);
	vertical-align: super;
	display: inline-block;
}

.arrow--left {
	margin-bottom: 0;
	padding-bottom: rem(20px);
	display: inline-block;
	transform: rotate(90deg);
}

.arrow--right {
	margin-bottom: 0;
	padding-bottom: rem(20px);
	display: inline-block;
	transform: rotate(-90deg);
}

