.wrapper {
	width: 100%;
}

.section {
	width: 100%;
	height: 100vh;
}

.container {
	margin: 0 auto;
	width: 940px;
}

@each $section in (first-screen, we, burgers, team, menu, form) {
	.section__#{$section} {
		min-height: 650px;
		background-image: url(../img/section__#{$section}/background.jpg);
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}
}
