.container--form {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.title--form {
	text-align: center;
	font-family: 'Gagalin';
	font-size: rem(72px);
	text-transform: uppercase;
	color: $orange;
	margin-bottom: rem(70px);

	@media screen and (max-width: 700px) {
		font-size: rem(60px);
	}

	@include tab-phones {
		font-size: 2.75rem;
	}

	@include phones {
		margin-bottom: 0rem;
	}
}

form {
	width: 100%;
}

.form {
	width: 100%;
	display: flex;
	margin-bottom: rem(95px);

	@include tablets {
		flex-direction: column;
	}

	@include phones {
		margin-bottom: 0;
	}
}

.form__part {
	width: 50%;
	margin-right: rem(15px);
	&:last-child {
		margin-right: rem(0px);

		@include tablets {
		margin: 0 auto;
		}
	}

	@include tablets {
		margin: 0 auto;
		width: 62vw;
	}

	@include tab-phones {
		width: 80vw;
	}

	@include phones {
		 width: 90vw;
	}
}

.form__row {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	margin-bottom: rem(15px);

/* к моменту верстки текстареа, радио и чекбоксов я так намучился с флексами, что отчаялся и принялся верстать блоками... */
	&--radio {
		display: block;

		@include phones {
			text-align: center;
		}
	}
	&--checkbox {
		display: block;

		@include phones {
			text-align: center;
		}
	}

	@include phones {
		margin-bottom: 1rem;
	}

}

.form__block {
	min-width: rem(0px);
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-right: rem(15px);
	&:last-child {
		margin-right: rem(0px);
	}

	@include tablets {
		width: 62vw;
	}

	@include tab-phones {
		width: 80vw;
	}

	@include phones {
		width: 90vw;
		&:nth-child(n+3) {
		margin-right: rem(0px);
		}
	}

	&--no-phone {
		@include phones {
		 display: none;
		}
	}
}

.form__radio-btn {
	display: none;
}

.form__radio-btn:checked + .form__radio-fake:after {
	display: block;
}

.form__radio-fake {
	width: 15px;
	height: 15px;
	display: inline-block;
	border-radius: 50%;
	border: 1px solid #cbcbcb;
	position: relative;
	background: -webkit-linear-gradient(top, #fdfdfd 0%,#efefef 100%); 
	background: linear-gradient(to bottom, #fdfdfd 0%,#efefef 100%); 
}

.form__radio-fake:after {
	content: "";
	display: none;
	width: 7px;
	height: 7px;
	background-color: #e35028;
	border-radius: 50%;
	position: absolute;
	top: 3px;
	left: 3px;
}

.form__checkbox {
	display: none;
}

.form__checkbox:checked + .form__checkbox-fake:after {
	display: block;
}

.form__checkbox-fake {
	background: rgb(255, 255, 255);
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 1px;
	position: relative;
}

.form__checkbox-fake:after {
	content: "";
	display: none;
	position: absolute;
	width: 15px;
	height: 15px;
	top: 0; right: 0; left: 0; bottom: 0;
	background: url(../img/section__form/checkmark.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.form__block-name {
	display: inline-block;
	font-family: 'Ubuntu';
	font-weight: 300;
	font-size: rem(14px);
	color: #fff;
	padding-bottom: rem(5px);
}

.form__input {
	min-width: rem(0px);
	flex-grow: 1;
	border: 1px solid rgb(209, 207, 203);
	border-radius: rem(5px);
	font-size: rem(16px);
	padding: rem(10px);
}

.form__textarea {
	flex-grow: 1;
	resize: none;
	padding: rem(10px);
	border: rem(1px) solid rgb(209, 207, 203);
	border-radius: rem(5px);
	min-height: rem(120px);
}

.form__block-radio {
	margin-right: rem(15px);
}

.form__radio-btn, .form__checkbox {
	margin-right: rem(10px);
}

.clear__btn {
	cursor: pointer;
	margin-left: rem(20px);
	color: #fff;
	background-color: transparent;
	border: 0;
	&:hover {
		text-decoration: underline;
	}
}

.form__btns-block {
		@include phones {
			display: flex;
			justify-content: center;
			align-items: center;
		}
}

.form__modal {
	text-align: center;
	font-family: 'ubuntu';
	font-size: 14px;
	font-weight: 300;
	box-shadow: 0px 0px 40px 0px rgba(0, 0, 1, 0.5);
	border-radius: rem(5px);
}

.form__modal-close {
	margin-top: 20px;
	font-family: 'ubuntu';
	font-size: 14px;
	font-weight: 300;
	color: #fff;
	cursor: pointer;
	background-color: rgb(228, 80, 40);
	border-radius: rem(5px);
	width: rem(97px);
	height: rem(35px);
	text-transform: uppercase;
	border: 0;
}