.section--menu {
	display: flex;
	justify-content: space-between;

	@include tablets {
		justify-content: flex-end;
		position: relative;
    }
}

.title--menu {
	margin-left: rem(88px);
    margin-top: rem(98px);
    color: #fff;

    @include tablets {
    	position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin-left: 1rem;
		margin-top: 8rem;
    }

    @include tab-phones {
		font-size: 2.5rem;
	}
}

.menu__list {
	display: flex;
	flex-flow: row nowrap;

	@include tablets {
		flex-grow: 1;
	}
}

.menu__item {
	transition: 0.5s;
	display: flex;
	flex-flow: row nowrap;
	position: relative;
	height: 100vh;
	background-color: #141414;
	overflow: hidden;
	
	&.active > .menu__desc {
		display: block;
	}

	@include tablets {
		min-width: 8%;
	}

	@include phones {
		&.active ~ & {
			display: none;
		}

		&.active .menu__name {
			color: #f9b43b;
		}
	}

		&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(20, 20, 20, 0.7);
	}
}


.menu__img {
	max-width: rem(78px);
	height: 100%;
	width: 100%;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

@each $number in (1, 2, 3) {
	.menu__img--#{$number} {
		background-image: url(../img/section__menu/photo-#{$number}.jpg);
	}
}

.menu__name {
	font-family: 'Gagalin';
	font-size: rem(40px);
	text-transform: uppercase;
	color: #fff;
	min-width: 100vh;
	text-align: center;
	transform: rotate(-90deg);

	@include tablets {
		text-align: initial;
	}
}

.menu__desc {
	transition: 0.5s;
	display: none;
	max-width: rem(540px);
	height: 100vh;
	padding: rem(61px) rem(35px) rem(61px) rem(34px);
	background-color: rgb(47, 50, 52);
	opacity: 0.929;
	color: #fff;
	font-family: 'ubuntu';
	font-weight: 300;
	font-size: rem(14px);
	line-height: rem(24px);

	@include tablets {
		padding: rem(15px);
		flex-grow: 1;
		max-width: initial;
	}
}
