.container--form-screen {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.title--form-screen {
	text-align: center;
	font-family: 'Gagalin';
	font-size: rem(72px);
	text-transform: uppercase;
	color: $orange;
	margin-bottom: rem(70px);

	@media screen and (max-width: 700px) {
		font-size: rem(60px);
	}

	@include tab-phones {
		font-size: 2.75rem;
	}
}

.form-screen__form {
	display: flex;
	margin-bottom: rem(95px);

	@include tablets {
		flex-direction: column;
	}
}

.form__part {
	width: rem(460px);
	margin-right: rem(15px);
	&:last-child {
		margin-right: rem(0px);
	}

	@include tablets {
		margin-right: 0rem;
		width: 62vw;
	}

	@include phones {
		 width: 90vw;
	}
}

.form__row {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	margin-bottom: rem(15px);

/* к моменту верстки текстареа, радио и чекбоксов я так намучился с флексами, что отчаялся и принялся верстать блоками... */
	&--radio {
		display: block;

		@include phones {
			text-align: center;
		}
	}
	&--checkbox {
		display: block;

		@include phones {
			text-align: center;
		}
	}

	@include phones {
		margin-bottom: 2rem;
	}

}

.form__block {
	min-width: rem(0px);
	width: rem(460px);
	display: flex;
	flex-direction: column;
	margin-right: rem(15px);
	&:last-child {
		margin-right: rem(0px);
	}

	@include tablets {
		width: 62vw;
	}

	@include phones {
		 width: 90vw;
	}

	&--no-phone {
		@include phones {
		 display: none;
		}
	}
}

.form__block-name {
	display: inline-block;
	font-family: 'Ubuntu';
	font-weight: 300;
	font-size: rem(14px);
	color: #fff;
	padding-bottom: rem(5px);
}

.form__input {
	min-width: rem(0px);
	flex-grow: 1;
	border: 1px solid rgb(209, 207, 203);
	border-radius: rem(5px);
	font-size: rem(16px);
	padding: rem(10px);
}

.form__textarea {
	flex-grow: 1;
	resize: none;
	padding: rem(10px);
	border: rem(1px) solid rgb(209, 207, 203);
	border-radius: rem(5px);
	min-height: rem(120px);
}

.form__block-radio {
	margin-right: rem(15px);
}

.form__radio-btn, .form__checkbox {
	margin-right: rem(10px);
}

.clear__link {
	margin-left: rem(20px);
	color: #fff;
	&:hover {
		text-decoration: underline;
	}
}

.form__btns-block {
		@include phones {
			display: flex;
			justify-content: center;
			align-items: center;
		}
}