.container--we {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title--we {
	display: block;
	text-align: center;
	margin: rem(0px) auto;
	margin-bottom: rem(65px);
	color: $dark;

	@include tablets {
	margin-bottom: 10rem;
	}

	@include tablets {
	margin-bottom: 0;
	}
}

.features {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	text-align: center;
	margin-bottom: rem(110px);

	@include tablets {
	margin-bottom: 10rem;
	}

	@include phones {
	flex-flow: column wrap;
	margin-bottom: 0;
	}
}

.features__item {
	width: rem(300px);

	@include tablets {
	width: 33vw;
	}

	@include phones {
	width: 95vw;
	display: flex;
	align-items: center;
	}
}

.features__img {
	height: rem(90px);
	&--meat {
	fill: #e25028;
	}
	&--hand {
	fill: #f8b43a;
	}
	&--natural {
	fill: #8ac03e;
	}

	@include tablets {
	height: 6rem;
	width: 6rem;
	}

	@include phones {
	min-width: 12rem;
	}
}

.features__text {
	@include phones {
		text-align: initial;
	}
}

.features__title {
	margin-top: rem(30px);
	font-family: 'Lifehack';
	font-size: rem(24px);
	color: $dark;

	@include tablets {
		font-size: rem(18px);
	}
}

.features__desc {
	margin-top: rem(15px);
	font-family: 'Ubuntu';
	font-weight: 300;
	font-size: rem(14px);
	line-height: rem(24px);
	color: #686768;
}