.section--menu {
	display: flex;
	justify-content: space-between;
}

.title--menu {
	margin-left: rem(88px);
    margin-top: rem(98px);
    color: #fff;

    @include tablets {
		margin-left: 1rem;
		margin-top: 8rem;
    }

    @include tab-phones {
		font-size: 2.5rem;
	}
}

.menu__list {
	display: flex;
	flex-flow: row nowrap;
}

.menu__item {
	width: rem(78px);
	height: 100vh;
	background-color: #141414;
	overflow: hidden;
	/* почему-то аккордеон здесь не работает как в прошлом меню... видимо из-за флексов. пришлось вместо width = 0 или opacity 0 делать тут display: none =/ */
	&.active + .menu__desc {
		display: block;
	}

	@include tablets {
		min-width: 10%;
	}
}

.menu__img {
	height: 100%;
	width: 100%;
	background-size: cover;
	opacity: 0.3;

	display: flex;
	justify-content: center;
	align-items: center;
}

@each $number in (1, 2, 3) {
	.menu__img--#{$number} {
		background-image: url(../img/section__menu/photo-#{$number}.jpg);
	}
}

.menu__name {
	font-family: 'Gagalin';
	font-size: rem(40px);
	text-transform: uppercase;
	color: #fff;
	min-width: 100vh;
	text-align: center;
	transform: rotate(-90deg);

	@include tablets {
		text-align: initial;
	}
}

.menu__desc {
	display: none;
	max-width: rem(540px);
	height: 100vh;
	padding: rem(61px) rem(35px) rem(61px) rem(34px);
	background-color: rgb(47, 50, 52);
	opacity: 0.929;
	color: #fff;
	font-family: 'ubuntu';
	font-weight: 300;
	font-size: rem(14px);
	line-height: rem(24px);

	@include tablets {
		padding: rem(15px);
		max-width: 43vw;
	}

	@include tab-phones {
		font-size: rem(12px);
		line-height: 1.42em;
	}
}
