.container {
  margin: 0 auto;
  width: 940px; }

.header {
  padding-top: 10px;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.logo__link {
  display: inline-block; }

.nav__item {
  display: inline-block;
  color: white; }

.header__nav-menu {
  display: inline-block; }

.header__btn {
  display: inline-block;
  color: white; }

.order__btn {
  display: inline-block; }
