.section--first-screen {
	display: flex;
	justify-content: center;
}

.container--first-screen {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-content: stretch;
}

.header {
	flex-grow: 0;
	padding-top: rem(10px);
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	z-index: 1;
	margin-right: auto;
}

.logo__link {
	display: inline-block;
}

.header__menu {
	display: flex;
	align-items: center;
}

.header__nav {
	display: inline-block;
	margin-right: rem(15px);
}

.nav__list {
	display: inline-block;

	@include tablets {
		display: none;
	}
}

.nav__item {
	display: inline-block;
	&:after {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		@include circle(rem(5px), #fff);
		margin: rem(0px) rem(12px);
	}
	&:last-child:after {
		display: none;
	}
}

.nav__link {
	color: #fff;
	font-family: 'ubuntu';
	font-size: rem(13px);
	font-weight: 500;
	text-transform: uppercase;
	&:hover {
		text-decoration: underline;
	}
}

.header__order {
	display: inline-block;
}

.order__btn{
	cursor: pointer;
	border: 0;
	display: inline-block;
	transition: 0.5s;
 	border-radius: rem(5px);
 	background-color: rgb(228, 80, 40);
 	width: rem(97px);
 	height: rem(35px);
 	padding: rem(10px) rem(17px);
 	color: #fff;
 	font-family: 'ubuntu';
 	font-size: rem(13px);
 	font-weight: 500;
 	text-transform: uppercase;

 	&:hover {
 	background-color: rgb(193, 64, 30);
 	}
}

.header__hamburger-link {
	padding-top: rem(10px);
	padding-bottom: rem(10px);
}

.header__hamburger-menu {
	display: none;
	margin-left: rem(30px);
	padding-right: rem(10px);
	margin-right: rem(12px);

	@include tablets {
		display: block;
	}
}

/* отрисовка гамбургер-меню через css */
.header__hamburger-menu {
	border: rem(2px) solid #fff;
	border-radius: rem(3px);
	width: rem(25px);
	position: relative;
	background-color: currentColor;
}
.header__hamburger-menu:before {
	content: '';
	position: absolute;
	border: rem(2px) solid #fff;
	border-radius: rem(3px);
	width: rem(25px);
	top: rem(-10px);
	margin: rem(-2px);
	background-color: currentColor;
}
.header__hamburger-menu:after {
	content: '';
	position: absolute;
	border: rem(2px) solid #fff;
	border-radius: rem(3px);
	width: rem(25px);
	top: rem(10px);
	margin: rem(-2px);
	background-color: currentColor;
}

.burger {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	flex-flow: row nowrap;
	align-items: center;
	margin-left: rem(23px);
	margin-bottom: rem(53px);

	@include tablets {
		width: 95%;
		text-align: center;
		flex-flow: column nowrap;
	}

	@include tab-phones {
		margin: 0;
	}
}

.burger__image {
	display: inline-block;
	margin-top: 4.25rem;
	
	@include tab-phones {
		margin-top: 0rem;
		transform: scale(0.9);
	}

	@include phones {
		transform: scale(0.8);
	}
}

.title--burger {

	@include tab-phones {
		font-size: 3rem;
	}
}

.burger__desc {
	display: inline-block;
	margin-top: rem(80px);
	margin-left: rem(8px);

	@include tablets {
		margin-top: rem(20px);
	}

	@include tab-phones {
		margin-top: 0rem;
	}
}

.burger__text {
	font-family: 'Lifehack';
	font-size: rem(65px);
	color: #fff;

	@include tab-phones {
		font-size: 3rem;
	}
}

.arrow {
	text-align: center;
	transition: 0.5s;
	padding-top: rem(20px);
	margin-bottom: rem(38px);
	&:hover {
		padding-top: rem(0px);
		padding-bottom: rem(20px);
	}

	@include tab-phones {
		margin-bottom: 1rem;
	}
}

.arrow__image {
	width: rem(32px);
	height: rem(16px);
	fill: #fff;
}