.container--first-screen {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-content: stretch;
}

.header {
	flex-grow: 0;
	padding-top: 10px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	margin-right: auto;
}

.header__nav {
	display: inline-block;
	margin-right: 15px;
}

.nav__list {
	display: inline-block;
}

.nav__item {
	display: inline-block;
	&:after {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		@include circle(5px, #fff);
		margin: 0 12px;
	}
	&:last-child:after {
		display: none;
	}
}

.nav__link {
	color: #fff;
	font-family: 'ubuntu';
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
	&:hover {
		text-decoration: underline;
	}
}

.header__order {
	display: inline-block;
}

.order__link {
	transition: 0.5s;
 	border-radius: 5px;
 	background-color: rgb(228, 80, 40);
 	width: 97px;
 	height: 35px;
 	padding: 10px 17px;
 	color: #fff;
 	font-family: 'ubuntu';
 	font-size: 13px;
 	font-weight: 500;
 	text-transform: uppercase;

 	&:hover {
 	background-color: rgb(193, 64, 30);
 	}
}

.first-screen__content {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	flex-flow: row nowrap;
	align-items: center;
	margin-bottom: 100px;
}

.first-screen__image {
	display: inline-block;
}

.first-screen__text {
	display: inline-block;
	margin-top: 60px;
	padding-left: 20px;
}

.first-screen__title {
	font-family: 'Gagalin';
	font-size: 72px;
	text-transform: uppercase;
	color: $orange;
}

.first-screen__text-burgers {
	font-family: 'Lifehack';
	font-size: 65px;
	color: #fff;
}

.first-screen__arrow {
	flex-grow: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.arrow__link {
	transition: 0.5s;
	padding-top: 50px;
	margin-bottom: 50px;
	&:hover {
		padding-top: 0px;
		padding-bottom: 50px;
	}
}