.container--form-screen {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.form-screen__title {
	font-family: 'Gagalin';
	font-size: rem(72px);
	text-transform: uppercase;
	color: $orange;
	margin-bottom: rem(70px);
}

.form-screen__form {
	display: flex;
	margin-bottom: rem(95px);
}

.form__part {
	width: rem(460px);
	margin-right: rem(15px);
	&:last-child {
		margin-right: rem(0px);
	}
}

.form__row {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	margin-bottom: rem(15px);

/* к моменту верстки текстареа, радио и чекбоксов я так намучился с флексами, что отчаялся и принялся верстать блоками... */
	&--radio {
		display: block;
	}
	&--checkbox {
		display: block;
	}
}

.form__block {
	min-width: rem(0px);
	width: rem(460px);
	display: flex;
	flex-direction: column;
	margin-right: rem(15px);
	&:last-child {
		margin-right: rem(0px);
	}
}

.form__block-name {
	display: inline-block;
	font-family: 'Ubuntu';
	font-weight: 300;
	font-size: rem(14px);
	color: #fff;
	padding-bottom: rem(5px);
}

.form__input {
	min-width: rem(0px);
	flex-grow: 1;
	border: 1px solid rgb(209, 207, 203);
	border-radius: rem(5px);
	font-size: rem(16px);
	padding: rem(10px);
}

.form__textarea {
	flex-grow: 1;
	resize: none;
	padding: rem(10px);
	border: rem(1px) solid rgb(209, 207, 203);
	border-radius: rem(5px);
	min-height: rem(107px);
}

.form__block-radio {
	margin-right: rem(15px);
}

.form__radio-btn, .form__checkbox {
	margin-right: rem(10px);
}

.clear__link {
	margin-left: rem(20px);
	color: #fff;
	&:hover {
		text-decoration: underline;
	}
}