.section--hamburger-menu {
	transition: 0.5s;
	position: absolute;
	z-index: 1;
	background-color: rgba(47, 50, 52, 0.99);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 0;
	height: 0;

	&.active {
		min-height: rem(650px);
		height: 100vh;
	}
}

.container--hamburger-menu {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.header--hamburger-menu {
	justify-content: flex-end;
}

/* стилизация кнопки отмены */
.header__close-link {
	margin-top: rem(15px);
	margin-right: rem(10px);
	padding: rem(10px);
}

.header__close-icon {
	position: relative;
	color: #fff;
	opacity: 0.702;
	width: rem(20px);
	height: rem(20px);
}
.header__close-icon:before {
	content: '';
	position: absolute;
	border-radius: rem(3px);
	top: 50%;
	width: rem(25px);
	height: rem(4px);
	background-color: currentColor;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.header__close-icon:after {
	content: '';
	position: absolute;
	border-radius: rem(3px);
	top: 50%;
	width: rem(25px);
	height: rem(4px);
	background-color: currentColor;
	-webkit-transform: rotate(45deg);
	  transform: rotate(45deg);
}

.nav-hamburger {
	flex-grow: 1;
	display: flex;
	justify-content: center;
}

.nav-hamburger__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.nav-hamburger__item {
	display: inline-block;
	text-align: center;
	width: 100%;
	&:after {
		display: block;
		content: " ";
		@include circle(rem(10px), #fff);
		margin: rem(12px) auto;
	}
	&:last-child:after {
		display: none;
	}
}

.nav-hamburger__link {
	color: #fff;
	font-family: 'ubuntu';
	font-size: rem(24px);
	line-height: rem(40px);
	font-weight: 500;
	text-transform: uppercase;
	&:hover {
		text-decoration: underline;
	}
}